@import "tailwindcss";

body {
  background-color: #111;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
}

* {
  scrollbar-width: none;
}

.glass {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.12);
  color: white;
  border: 1px solid #656565;
  border-radius: 16px;
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.25),
    inset 0 0 12px rgba(255, 255, 255, 0.2);
  opacity: 0.9;
}

.btn {
  background: linear-gradient(135deg, #67a1ff, #962eff);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  transition: all 0.25s ease;
}

.danger {
  background: linear-gradient(135deg, #c9264c, #7b0f31);
}

.btn:hover {
  filter: brightness(1.2);
  border: 2px solid white
}

.circle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  padding: 0 10px;
  border-radius: 18px;
}

/* --- CODE BLOCK STYLES --- */
.bubble-text pre {
  background-color: #171717;
  color: #f8f8f2;
  border: 1px solid #ffffff;
  border-radius: 6px;

  padding: 12px;
  margin: 10px 0;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;

  font-family: monospace;
  font-size: 0.9em;
}

.bubble-text code:not(pre code) {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
  font-size: 0.95em;

  word-break: break-all;
}

*:focus {
  outline: none;
  border-color: #67a1ff;
  box-shadow: 0 0 10px #67a1ff, 0 0 4px #67a1ff, 0 0 5px #962eff;
}