@import "tailwindcss";

body {
  background-color: #111;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
}

.App {
  min-height: 100vh;
  display: flex;
  padding: 2rem 1rem;
  gap: 2.5vw;
}

.glass {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.12);
  color: white;
  border: 1px solid #5b5b5b;
  border-radius: 16px;
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.25),
    inset 0 0 12px rgba(255, 255, 255, 0.1);
  opacity: 0.7;
}

.side-menu {
  padding: 1rem;
  width: 20vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message-list {
  margin-bottom: 1rem;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60vw;
  height: 80vh;
  opacity: 0.85;
}

.message-turn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.bubble {
  display: inline-block;
  max-width: 75%;
  background-color: #292929;
  padding: 0.6rem 0.9rem;
  border-radius: 16px;
  line-height: 1.3;
  word-wrap: break-word;
  opacity: 1;

  .bubble-text {
    white-space: pre-wrap;
  }
}

.assistant-bubble {
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

.user-bubble {
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.message-turn:last-child {
  margin-bottom: 0;
}

.chat-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.chat-input {
  padding: 0.6rem 3.8rem 0.6rem 3.6rem;
  width: 100%;
  border-radius: 20px;
  font-size: 1rem;
  font-family: inherit;
}

*:focus {
  outline: none;
  border-color: #67a1ff;
  box-shadow: 0 0 10px #67a1ff, 0 0 4px #67a1ff, 0 0 5px #962eff;
}

.btn:hover {
  outline: none;
  border-color: #67a1ff;
  background: linear-gradient(135deg, #67a1ff, #962eff);
}

.circle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  padding: 0 10px;
  border-radius: 18px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.saved-chats-container {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.saved-chat-button {
  margin-top: 10px;
  width: 95%;
  height: 30px;
  padding: 0 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}